:root {
    --green: #3F7E45;
    --yellow: #FCB714;
    --bg-color:#ECF5F1;
    --sdg1:#EB1C2E;
    --sdg2:#DCA63A;
    --sdg3:#4C9F38;
    --sdg4:#C5192D;
    --sdg5:#FF3A21;
    --sdg8:#A21942;
    --sdg9:#F26E24;
    --sdg10:#DD1367;
    --sdg11:#F89C25;
    --sdg13:#3F7E44;
    
}

body{
    background-color: var(--bg-color);
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {    
    font-family: 'Poppins', sans-serif;
}

h1.jumbo{
    font-size:5em;
}
@media (max-width: 992px) {
    h1.jumbo{
        font-size:3em;
    }
}


.text-yellow{
    color:var(--yellow);
}

.logo{
    width:169px;
}

.hero{
    background-color: var(--green);
    color:white;
}

.hero-artwork-top{
    background-color: var(--green);
    color:white;
}

.border-thick-left{
    border-left:solid 6px var(--green);
    padding-left:1.5em;
}

.border-thick-bottom{
    border-bottom:solid 12px var(--green);
}

a.tile{
    display: block;
    padding-top:3em;
    height:100%;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    color:white;
    transition: all ease-in-out .15s;
    overflow: hidden;
    box-shadow:
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 100px 80px rgba(0, 0, 0, 0.07);
}

a.tile > img{
    width:100%;
    height:369px;
    object-fit: cover;
    object-position: top;
    transform: translateY(30px);
}

.sdg_1{
    background-color: var(--sdg1);
}

.sdg_2{
    background-color: var(--sdg2);
}

.sdg_3{
    background-color: var(--sdg3);
}

.sdg_4{
    background-color: var(--sdg4);
}
.sdg_5{
    background-color: var(--sdg5);
}
.sdg_8{
    background-color: var(--sdg8);
}
.sdg_9{
    background-color: var(--sdg9);
}
.sdg_10{
    background-color: var(--sdg10);
}
.sdg_11{
    background-color: var(--sdg11);
}
.sdg_13{
    background-color: var(--sdg13);
}

a.tile:hover{
   opacity: .9;
}

.supertitle{
    font-size: .5em;
}

.artwork-logo{
    display: inline-block;
    max-height: 40px;
    margin: auto 10px;
}

@media (max-width: 992px) {
    .artwork-logo{
        display: inline-block;
        max-height: 25px;
        margin: auto 5px;
    }
}
